<div class="container">
    <md-tabs md-selected="selectedTab" md-dynamic-height md-border-bottom md-center-tabs>
        <md-tab label="Sign In">
            <md-toolbar ng-if="errors" style="margin-top: 10px" class="md-warn">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">
                        {{ error.data.error }}
                    </h2>
                </div>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Email Address</label>
                    <input type="email" ng-model="auth.email"/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="auth.password"/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary" ng-click="auth.login()">Sign In</md-button>
                    <div flex="flex"></div>
                    <md-button ng-click="auth.forgotPassword($event)" md-no-ink="md-no-ink">Forgot Password</md-button>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Sign Up">
            <md-content layout="column" class="md-padding">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="md-warn">First name</label>
                        <input ng-model="register.name">
                        <div class="text-danger" ng-repeat="name_error in regError.name" > {{ name_error }}</div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input type="email" ng-model="register.email">
                        <div class="text-danger" ng-repeat="email_error in regError.email" > {{ email_error }}</div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input type="password" ng-model="register.password">
                        <div class="text-danger" ng-repeat="password_error in regError.password" > {{ password_error }}</div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password Confirmation</label>
                        <input type="password" ng-model="register.password_confirmation">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary" ng-click="auth.register()">Sign Up</md-button>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</div>
