<md-content layout-padding>
    <div>
        <h2>Login</h2>
        <form name="userForm">
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" ng-model="auth.email">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="auth.password">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="auth.login()">Login</md-button>
        </form>
    </div>
</md-content>