<div>
    <div flash-alert active-class="in" class="alert fade">
        <strong class="alert-heading">Boo!</strong>
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <div>
        <h2>Login</h2>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
            </div>
            <button class="btn btn-primary" ng-click="auth.login()">Submit</button>
        </form>
    </div>
</div>
