<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3>Users</h3>
        <button class="btn btn-primary" style="margin-bottom: 10px" ng-click="station.getStations()">Get Station!</button>
        <ul class="list-group" ng-if="station.stations">
            <li class="list-group-item" ng-repeat="station in station.stations">
                <h4>{{station.name}}</h4>
                <h5>{{station.email}}</h5>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="station.error">
            <strong>There was an error: </strong> {{station.error.error}}
            <br>Please go back and login again
        </div>
    </div>
</div>