@import "../lib/bootstrap-sass-official/assets/stylesheets/bootstrap";


.alert-flash {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  /* change transition property to all */
  -webkit-transition-property: all;
  transition-property: all;
}

.alert-flash h4 {
  margin: 0;
}

.alert-flash .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-warn {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-warn,
.alert-warn h4 {
  color: #c09853;
}

.loginBox {
  max-width:  90%;
  width: 1300px
}

.stretch input  {
  width: 100%
}


/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

//md-table
md-backdrop.md-edit-dialog-backdrop {
  z-index: 80;
}
md-edit-dialog {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 81;
  background-color: #f9f9f9;
  border-radius: 2px;
  cursor: default;
}
md-edit-dialog > .md-content {
  padding: 16px 24px 0;
}
md-edit-dialog > .md-content .md-title {
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 8px;
}
md-edit-dialog > .md-content md-input-container {
  margin: 0;
  font-size: 13px;
}
md-edit-dialog > .md-content md-input-container input {
  float: none;
}
md-edit-dialog > .md-content md-input-container .md-errors-spacer {
  min-height: auto;
  min-width: auto;
  color: rgba(0, 0, 0, 0.54);
}
md-edit-dialog > .md-content md-input-container .md-errors-spacer .md-char-counter {
  padding: 5px 2px 5px 0;
}
md-edit-dialog > .md-content md-input-container [ng-message] {
  padding: 5px 0 5px 2px;
}
md-edit-dialog > .md-actions {
  margin: 0 16px 8px;
}
md-edit-dialog > .md-actions .md-button {
  margin: 0;
  min-width: initial;
}
md-edit-dialog > .md-actions .md-button + .md-button {
  margin-left: 8px;
}
.md-table-pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
  padding: 0 24px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
}
.md-table-pagination md-select {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-width: 64px;
}
.md-table-pagination md-select:not([disabled]):focus .md-select-value {
  color: rgba(0, 0, 0, 0.54);
}
.md-table-pagination md-select .md-select-value {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.md-table-pagination md-select .md-select-value span.md-select-icon {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-right: -6px !important;
}
.md-table-pagination md-select .md-select-value span.md-select-icon:after {
  top: initial;
  -webkit-transform: scaleY(0.5) scaleX(1);
  transform: scaleY(0.5) scaleX(1);
}
.md-table-pagination > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
}
.md-table-pagination > .buttons:not(:first-child),
.md-table-pagination > .limit-select:not(:first-child) {
  margin-left: 32px;
}
.md-table-pagination > .buttons {
  margin-right: -16px;
}
.md-table-pagination > .buttons > .md-button.md-icon-button {
  margin: 0;
}
.md-table-pagination > .buttons > .label + .md-button.md-icon-button {
  margin-left: 20px;
}
md-select.md-table-select {
  margin: 0;
}
md-select.md-table-select > .md-select-value {
  padding: 0;
  min-width: 0;
  min-height: 24px;
  border-bottom: 0 !important;
}
md-select.md-table-select > .md-select-value > span {
  display: block;
  height: auto;
  -webkit-transform: none !important;
  transform: none !important;
}
md-select.md-table-select > .md-select-value > span > .md-text {
  display: inherit;
  height: inherit;
  -webkit-transform: inherit;
  transform: inherit;
}
md-select.md-table-select > .md-select-value > span.md-select-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  margin: 0;
}
md-select.md-table-select > .md-select-value > span.md-select-icon:after {
  top: initial;
}
.md-select-menu-container.md-table-select,
.md-select-menu-container.md-pagination-select {
  margin-left: -2px;
  border-radius: 2px;
}
.md-select-menu-container.md-table-select md-select-menu,
.md-select-menu-container.md-pagination-select md-select-menu,
.md-select-menu-container.md-table-select md-content,
.md-select-menu-container.md-pagination-select md-content {
  border-radius: inherit;
}
.md-select-menu-container.md-table-select md-content,
.md-select-menu-container.md-pagination-select md-content {
  padding: 0;
}
.md-select-menu-container.md-table-select .md-text {
  font-size: 13px;
}
.md-select-menu-container.md-pagination-select .md-text {
  font-size: 12px;
}
md-toolbar.md-table-toolbar {
  box-shadow: none;
}
md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default,
md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default .md-button,
md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default .md-button {
  color: rgba(0, 0, 0, 0.87);
}
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  md-toolbar.md-table-toolbar .md-toolbar-tools {
    height: 64px;
    max-height: initial;
  }
}
md-toolbar.md-table-toolbar .md-toolbar-tools {
  padding: 0 24px;
}
md-toolbar.md-table-toolbar .md-toolbar-tools md-icon {
  color: rgba(0, 0, 0, 0.54);
}
md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button {
  margin: 0;
}
md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button:first-child {
  margin-left: -12px;
}
md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button:last-child {
  margin-right: -12px;
}
md-card > md-toolbar.md-table-toolbar:first-child,
md-card > md-table-container:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
md-card > md-toolbar.md-table-toolbar:last-child,
md-card > md-table-container:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
md-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
table.md-table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
}
table.md-table thead.md-head > tr.md-row {
  height: 56px;
}
table.md-table tbody.md-body > tr.md-row,
table.md-table tfoot.md-foot > tr.md-row {
  height: 48px;
}
table.md-table thead.md-head + .md-table-progress md-progress-linear {
  top: -3px;
}
table.md-table .md-table-progress th {
  padding: 0;
}
table.md-table .md-table-progress th md-progress-linear {
  height: 0;
  transition: opacity 1s;
}
table.md-table .md-table-progress th md-progress-linear.ng-hide {
  opacity: 0;
}
table.md-table .md-table-progress th md-progress-linear > .md-container {
  height: 3px;
  top: 0;
  transition: none;
}
table.md-table .md-table-progress th md-progress-linear > .md-container > .md-bar {
  height: 3px;
}
table.md-table th.md-column {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}
table.md-table th.md-column.md-sort {
  cursor: pointer;
}
table.md-table th.md-column md-icon {
  height: 16px;
  width: 16px;
  font-size: 16px !important;
  line-height: 16px !important;
}
table.md-table th.md-column md-icon.md-sort-icon {
  color: rgba(0, 0, 0, 0.26);
  opacity: 0;
  transition: -webkit-transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s;
}
table.md-table th.md-column md-icon.md-sort-icon.md-asc {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
table.md-table th.md-column md-icon.md-sort-icon.md-desc {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
table.md-table th.md-column md-icon:not(:first-child) {
  margin-left: 8px;
}
table.md-table th.md-column md-icon:not(:last-child) {
  margin-right: 8px;
}
table.md-table th.md-column.md-active,
table.md-table th.md-column.md-active md-icon {
  color: rgba(0, 0, 0, 0.87);
}
table.md-table th.md-column:hover md-icon.md-sort-icon,
table.md-table th.md-column.md-active md-icon.md-sort-icon {
  opacity: 1;
}
table.md-table tr.md-row[ng\:repeat].ng-leave,
table.md-table tr.md-row[ng-repeat].ng-leave,
table.md-table tr.md-row[x-ng-repeat].ng-leave,
table.md-table tr.md-row[data-ng-repeat].ng-leave {
  display: none;
}
table.md-table.md-row-select tbody.md-body > tr.md-row {
  transition: background-color 0.2s;
}
table.md-table.md-row-select tbody.md-body > tr.md-row:not([disabled]):hover {
  background-color: #eeeeee !important;
}
table.md-table.md-row-select tbody.md-body > tr.md-row.md-selected {
  background-color: #f5f5f5;
}
table.md-table.md-row-select td.md-cell:first-child,
table.md-table.md-row-select th.md-column:first-child {
  width: 20px;
  padding: 0 0 0 24px;
}
table.md-table.md-row-select td.md-cell:nth-child(2),
table.md-table.md-row-select th.md-column:nth-child(2) {
  padding: 0 24px;
}
table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
  padding: 0 56px 0 0;
}
table.md-table:not(.md-row-select) td.md-cell:first-child,
table.md-table:not(.md-row-select) th.md-column:first-child {
  padding: 0 24px;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding: 0 56px 0 0;
}
table.md-table td.md-cell,
table.md-table th.md-column {
  vertical-align: middle;
  text-align: left;
}
table.md-table td.md-cell > *,
table.md-table th.md-column > * {
  vertical-align: middle;
}
table.md-table td.md-cell:last-child,
table.md-table th.md-column:last-child {
  padding: 0 24px 0 0;
}
table.md-table td.md-cell.md-clickable,
table.md-table th.md-column.md-clickable {
  cursor: pointer;
}
table.md-table td.md-cell.md-clickable:focus,
table.md-table th.md-column.md-clickable:focus {
  outline: none;
}
table.md-table td.md-cell.md-numeric,
table.md-table th.md-column.md-numeric {
  text-align: right;
}
table.md-table td.md-cell md-checkbox,
table.md-table th.md-column md-checkbox {
  margin: 0;
  width: 20px;
}
table.md-table td.md-cell {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
}
table.md-table td.md-cell.md-numeric md-select {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
table.md-table td.md-cell.md-numeric md-select .md-select-value {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
table.md-table td.md-cell.md-placeholder {
  color: rgba(0, 0, 0, 0.26);
}
table.md-table td.md-cell md-select > .md-select-value > span.md-select-icon {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.54);
  width: 18px;
  text-align: right;
}
table.md-table td.md-cell md-select > .md-select-value > span.md-select-icon:after {
  -webkit-transform: scaleY(0.4) scaleX(0.8);
  transform: scaleY(0.4) scaleX(0.8);
}

md-fab-speed-dial.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: absolute;
}

div.label {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px;
  font-weight: bold;
}

label[for=chartRange]{
  font-size: 12px;
  color: rgba(255,255,255,0.87);
}

#chartDateRange {
  padding-top: 20px;
}

input[name=chartRange] {
  font-size: 12px;
  color: rgba(255,255,255,0.87);
}

//----------------------------------


/* END PAGE CONTAINER */
/* NAVIGATION */
.x-navigation,
.x-navigation ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
  float: left;
  list-style: none;
  display: block;
  z-index: 3;
}
.x-navigation {
  background: #33414e;
}
.x-navigation li {
  float: left;
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.x-navigation li > a {
  display: block;
  float: left;
  width: 100%;
  line-height: 19px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  padding: 15px 10px 15px 15px;
  text-decoration: none;
  border-bottom: 1px solid #2f3c48;
  vertical-align: text-bottom;
}
.x-navigation li > a .fa,
.x-navigation li > a .glyphicon {
  color: #ffffff;
  text-align: center;
  width: 20px;
  font-size: 14px;
  margin-right: 10px;
  vertical-align: baseline;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
.x-navigation li > a:hover {
  background: #3d4e5d;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.x-navigation li > a:hover .fa,
.x-navigation li > a:hover .glyphicon {
  color: #1caf9a;
}
.x-navigation li > ul {
  background: #273541;
  max-height: 0px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  overflow: hidden;
}
.x-navigation li > ul li > a {
  color: #cccccc;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  padding: 12px 10px;
  border-bottom-color: transparent;
}
.x-navigation li > ul li > a:hover {
  background: #23303b;
  color: #ffffff;
}
.x-navigation li > ul li.active > a {
  background: #23303b;
  color: #ffffff;
}
.x-navigation li.xn-openable:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f196";
  font-size: 14px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  right: 0px;
  top: 12px;
  cursor: pointer;
}
.x-navigation li.active.xn-openable:before {
  content: "\f147";
}
.x-navigation li.active > a {
  background: #1caf9a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.x-navigation li.active > a .fa,
.x-navigation li.active > a .glyphicon {
  color: #fff;
}
.x-navigation li.active > ul {
  max-height: 1200px;
}
.x-navigation li.xn-title {
  padding: 20px 10px 10px;
  line-height: 20px;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  border-bottom: 1px solid #2f3c48;
}
.x-navigation > li.xn-openable:before {
  top: 15px;
}
.x-navigation > li > ul > li > a {
  padding-left: 25px;
}
.x-navigation > li > ul > li > a:hover {
  padding-left: 30px;
}
.x-navigation > li > ul > li.active > a {
  padding-left: 30px;
}
.x-navigation > li > ul > li > ul > li > a {
  padding-left: 40px;
}
.x-navigation > li > ul > li > ul > li > a:hover {
  padding-left: 45px;
}
.x-navigation > li > ul > li > ul > li.active > a {
  padding-left: 45px;
}
.x-navigation > li > ul > li > ul > li > ul > li > a {
  padding-left: 50px;
}
.x-navigation > li > ul > li > ul > li > ul > li > a:hover {
  padding-left: 55px;
}
.x-navigation > li > ul > li > ul > li > ul > li.active > a {
  padding-left: 55px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 60px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li > a:hover {
  padding-left: 65px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li.active > a {
  padding-left: 65px;
}
.x-navigation > li:last-child > a {
  -moz-border-radius: 0px 0px 0px 5px;
  -webkit-border-radius: 0px 0px 0px 5px;
  border-radius: 0px 0px 0px 5px;
  border-bottom: 0px;
}
.x-navigation.x-navigation-horizontal {
  height: 50px;
  background: #33414e;
}
.x-navigation.x-navigation-horizontal .xn-logo a {
  border-bottom: 0px;
  width: 200px;
}
.x-navigation.x-navigation-horizontal > li.xn-openable:before {
  display: none;
}
.x-navigation.x-navigation-horizontal > li > a {
  padding: 15px;
  border-bottom: 0px;
  line-height: 20px;
  color: #ffffff;
  text-shadow: none;
}
.x-navigation.x-navigation-horizontal > li > a:hover {
  background: #3d4e5d;
}
.x-navigation.x-navigation-horizontal > li > a:hover .fa,
.x-navigation.x-navigation-horizontal > li > a:hover .glyphicon {
  color: #1caf9a;
}
.x-navigation.x-navigation-horizontal > li > a .fa,
.x-navigation.x-navigation-horizontal > li > a .glyphicon {
  color: #ffffff;
}
.x-navigation.x-navigation-horizontal > li.active > a {
  background: #3d4e5d;
}
.x-navigation.x-navigation-horizontal > li.active > a .fa,
.x-navigation.x-navigation-horizontal > li.active > a .glyphicon {
  color: #1caf9a;
}
.x-navigation.x-navigation-horizontal > li ul {
  width: 220px;
  position: absolute;
  overflow: visible;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.x-navigation.x-navigation-horizontal > li ul ul.xn-drop-white:after {
  border-right-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul {
  top: 60px;
  left: 0px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-white:after {
  border-bottom-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left {
  left: auto;
  right: 0px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left.xn-drop-white ul:after {
  border-left-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul:after {
  bottom: 100%;
  left: 27px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #33414e;
  border-width: 5px;
  margin-left: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after {
  right: 20px;
  left: auto;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after ul {
  left: auto;
  right: 230px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after ul:after {
  right: auto;
  left: 100%;
  border: solid transparent;
  border-left-color: #33414e;
  border-width: 5px;
  margin-right: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul ul {
  top: 0px;
  right: -230px;
}
.x-navigation.x-navigation-horizontal > li > ul ul:after {
  right: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #33414e;
  border-width: 5px;
  margin-top: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul li > a {
  padding-left: 10px;
}
.x-navigation.x-navigation-horizontal > li > ul li > a:hover {
  padding-left: 15px;
}
.x-navigation.x-navigation-horizontal > li > ul li.active > a {
  padding-left: 15px;
}
.x-navigation.x-navigation-horizontal > li li {
  width: 100%;
}
.x-navigation.x-navigation-horizontal > li li:first-child a {
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.x-navigation.x-navigation-horizontal > li li:last-child a {
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  border-bottom-color: transparent;
}
.x-navigation.x-navigation-horizontal > li li.xn-openable:before {
  content: "\f105";
}
.x-navigation.x-navigation-horizontal > li li.active.xn-openable:before {
  content: "\f104";
}
.x-navigation.x-navigation-horizontal > li:last-child > a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.x-navigation.x-navigation-horizontal > li.last > a {
  -moz-border-radius: 0px 5px 0px 0px;
  -webkit-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}
.x-navigation.x-navigation-horizontal li {
  width: auto;
  position: relative;
}
.x-navigation.x-navigation-horizontal li.active > ul {
  display: block;
}
.x-navigation.x-navigation-horizontal li.xn-openable > a {
  padding-right: 20px;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white {
  background: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white ul {
  background: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white ul:after {
  border-right-color: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a {
  color: #333;
  text-shadow: none;
  border-bottom: 1px solid #E9E9E9;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a:hover {
  background: #F5F5F5;
  color: #333;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a .fa,
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a .glyphicon {
  color: #33414e;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li.active > a {
  color: #333;
  text-shadow: none;
  border-bottom: 1px solid #E9E9E9;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li.active.xn-openable:before {
  color: #333;
}
.x-navigation.x-navigation-horizontal .xn-icon-button > a {
  padding: 15px 10px;
  text-align: center;
  width: 50px;
}
.x-navigation.x-navigation-horizontal .xn-icon-button > a .fa,
.x-navigation.x-navigation-horizontal .xn-icon-button > a .glyphicon {
  margin: 0px;
}
.x-navigation.x-navigation-horizontal .xn-search {
  padding: 10px 5px;
}
.x-navigation.x-navigation-horizontal .xn-search input {
  width: 100px;
}
.x-navigation.x-navigation-horizontal .xn-search input:focus {
  width: 200px;
}
.x-navigation.x-navigation-horizontal .xn-search:before {
  left: 5px;
}
//informer
.x-navigation .informer {
  font-size: 11px;
  position: absolute;
  line-height: 20px;
  text-align: center;
  padding: 0px 5px;
  background: #BBB;
  right: 10px;
  top: 15px;
  color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.x-navigation .informer.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
.x-navigation .informer.informer-primary {
  background: #33414e;
}
.x-navigation .informer.informer-success {
  background: #95b75d;
}
.x-navigation .informer.informer-info {
  background: #1caf9a;
}
.x-navigation .informer.informer-warning {
  background: #1caf9a;
}
.x-navigation .informer.informer-danger {
  background: #E04B4A;
}
.x-navigation li li .informer {
  top: 12px;
}
.x-navigation .xn-icon-button .informer {
  left: auto;
  bottom: auto;
  right: 1px;
  top: 5px;
}


//panel

.xn-panel-dragging .panel-heading:hover {
  cursor: move;
}


/* MESSAGES */
.messages {
  width: 100%;
  float: left;
}
.messages .item {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.messages .item .text {
  background: #FFF;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #D5D5D5;
}
.messages .item .text .heading {
  width: 100%;
  margin-bottom: 5px;
}
.messages .item .text .heading a {
  text-decoration: none;
  font-size: 12px;
  color: #33414e;
  font-weight: 600;
  line-height: 20px;
}
.messages .item .text .heading .date {
  float: right;
  line-height: 20px;
  font-size: 11px;
  color: #CCC;
  font-weight: 600;
}
.messages .item .text:hover {
  border-color: #BBB;
}
.messages .item:nth-child(2n) .text {
  background: #F6F6F6;
}
.messages .item.item-visible {
  opacity: 1;
  filter: alpha(opacity = 100);
}
.messages.messages-img .item .image {
  float: left;
  width: 40px;
}
.messages.messages-img .item .image img {
  border: 2px solid #F5F5F5;
  border-radius: 20%;
  width: 40px;
}
.messages.messages-img .item .text {
  margin-left: 50px;
  position: relative;
}
.messages.messages-img .item .text:after,
.messages.messages-img .item .text:before {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages.messages-img .item .text:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #FFF;
  border-width: 5px;
  margin-top: -5px;
}
.messages.messages-img .item .text:before {
  border-color: rgba(213, 213, 213, 0);
  border-right-color: #D5D5D5;
  border-width: 6px;
  margin-top: -6px;
}
.messages.messages-img .item .text:hover:before {
  border-right-color: #BBB;
}
.messages.messages-img .item.in .image {
  float: right;
}
.messages.messages-img .item.in .text {
  margin-left: 0px;
  margin-right: 50px;
}
.messages.messages-img .item.in .text:after,
.messages.messages-img .item.in .text:before {
  right: auto;
  left: 100%;
}
.messages.messages-img .item.in .text:after {
  border-right-color: transparent;
  border-left-color: #FFF;
}
.messages.messages-img .item.in .text:before {
  border-right-color: transparent;
  border-left-color: #D5D5D5;
}
.messages.messages-img .item.in .text:hover:before {
  border-left-color: #BBB;
}

.panel .panel-heading {
  padding: 10px;
}
.panel .panel-heading .panel-title-image {
  float: left;
  width: 30px;
  border: 2px solid #D5D5D5;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  margin-right: 5px;
}
.panel .panel-heading .panel-title {
  margin-left: 7px;
}
.panel .panel-heading .panel-title-box {
  float: left;
}
.panel .panel-heading .panel-title-box h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #434a54;
  padding: 0px;
  margin: 0px;
}
.panel .panel-heading .panel-title-box span {
  font-size: 12px;
  color: #a7adb5;
  font-weight: 400;
  line-height: 12px;
}
.panel .panel-heading,
.panel .panel-footer,
.panel .panel-body {
  float: left;
  width: 100%;
}
.panel .panel-body {
  padding: 15px;
  position: relative;
}
.panel .panel-body.scroll {
  padding-right: 0px;
}
.panel .panel-body.panel-body-map {
  padding: 5px;
}
.panel .panel-body.panel-body-image {
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}
.panel .panel-body.panel-body-image img {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.panel .panel-body.panel-body-image .panel-body-inform {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  background: #1caf9a;
  color: #FFF;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-left: -15px;
  text-align: center;
  line-height: 30px;
  padding-left: 1px;
  padding-top: 1px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-primary {
  background: #33414e;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-success {
  background: #95b75d;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-warning {
  background: #1caf9a;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-danger {
  background: #E04B4A;
}
.panel .panel-body.panel-body-image .panel-body-inform .fa {
  font-size: 16px;
  color: #FFF;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.panel .panel-body.list-group {
  padding: 0px;
}
.panel .panel-body.profile {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.panel .panel-body.panel-body-search {
  padding: 5px;
}
.panel .panel-body.panel-body-half .panel-body {
  width: 50%;
  height: 100%;
}
.panel .panel-body.panel-body-half .panel-body:nth-child(2n) {
  padding-left: 25px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image {
  margin-bottom: 0px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image .panel-body-inform {
  bottom: auto;
  left: auto;
  right: -15px;
  top: 50%;
  margin-left: 0px;
  margin-top: -15px;
}
.panel .panel-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  float: left;
  color: #434a54;
}
.panel .panel-footer {
  background: #F5F5F5;
  border: 0px;
  border-top: 1px solid #E3E3E3;
  line-height: 30px;
  padding: 10px;
}
.panel-default .panel-heading,
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-info .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading {
  background: #F5F5F5;
  border-color: #E5E5E5;
}
.panel-fullscreen-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #FFF;
}
.panel-fullscreen-wrap .panel {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0px;
}
.panel-fullscreen-wrap .panel .panel-body {
  overflow-y: scroll;
}
/* PANEL GROUP / ACCORDION */
.panel-group {
  float: left;
  width: 100%;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0px;
}
.panel-title > a {
  text-decoration: none;
}
.panel-group.accordion .panel-body {
  display: none;
}
.panel-group.accordion .panel-body.panel-body-open {
  display: block;
}
/* END PANEL GROUP / ACCORDION */
/* PANEL CONTROLS */
ul.panel-controls {
  float: right;
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
}
ul.panel-controls > li {
  float: left;
}
ul.panel-controls > li > a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  color: #656d78;
  border: 1px solid #BBB;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  margin-left: 3px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
ul.panel-controls > li > a.control-primary {
  color: #33414e;
  border-color: #33414e;
}
ul.panel-controls > li > a.control-success {
  color: #95b75d;
  border-color: #95b75d;
}
ul.panel-controls > li > a.control-info {
  color: #1caf9a;
  border-color: #1caf9a;
}
ul.panel-controls > li > a.control-warning {
  color: #1caf9a;
  border-color: #1caf9a;
}
ul.panel-controls > li > a.control-danger {
  color: #E04B4A;
  border-color: #E04B4A;
}
ul.panel-controls > li > a:hover {
  border-color: #999;
  color: #434a54;
}
ul.panel-controls > li > a.rounded {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
ul.panel-controls.panel-controls-title {
  margin-top: 3px;
}
.panel-hidden-controls ul.panel-controls > li > a {
  opacity: 0;
  filter: alpha(opacity = 0);
}
.panel-hidden-controls:hover ul.panel-controls > li > a {
  opacity: 0.8;
  filter: alpha(opacity = 80);
}
.panel-hidden-controls:hover ul.panel-controls > li > a:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
ul.panel-controls > li.label-control .label,
.label-form {
  display: inline-block;
  font-size: 11px;
  padding: 5px 10px;
  line-height: 12px;
  margin-top: 4px;
}
ul.panel-controls > li > .dropdown-menu {
  left: auto;
  right: 3px;
}
ul.panel-controls > li > .dropdown-menu:after,
ul.panel-controls > li > .dropdown-menu:before {
  left: auto;
  right: 11px;
}
ul.panel-controls > li > .dropdown-menu:after {
  margin-left: auto;
  margin-right: -5px;
}
ul.panel-controls > li > .dropdown-menu:before {
  margin-left: auto;
  margin-right: -6px;
}
/* EOF PANEL CONTROLS */
.panel-heading .label {
  line-height: 16px;
  padding: 4px 10px;
  margin: 3px 0px 3px 5px;
  font-size: 12px;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.panel-heading .label.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
/* PANEL BODY PRICING */
.panel.panel-primary .panel-body-pricing small {
  color: #33414e;
}
.panel.panel-success .panel-body-pricing small {
  color: #95b75d;
}
.panel.panel-info .panel-body-pricing small {
  color: #1caf9a;
}
.panel.panel-warning .panel-body-pricing small {
  color: #1caf9a;
}
.panel.panel-danger .panel-body-pricing small {
  color: #E04B4A;
}
.panel-body.panel-body-pricing h2 {
  font-size: 26px;
  font-weight: 400;
}
.panel-body.panel-body-pricing h2 small {
  text-transform: uppercase;
}
.panel-body.panel-body-pricing p {
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
}
.panel-body.panel-body-pricing p.text-muted {
  color: #AAA;
  font-size: 11px;
}
.panel-body.panel-body-pricing .fa {
  color: #EEE;
}
/* PANEL BODY PRICING */
/* PANEL REFRESHING */
.panel-refresh-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #FFF;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  z-index: 3;
  font-size: 21px;
}
.panel-refresh-layer img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
/* EOF PANEL REFRESHING */
.panel-toggled .panel-body,
.panel-toggled .panel-footer {
  display: none;
}
/* XNAV PANEL */
.x-navigation li > .panel {
  display: none;
  position: absolute;
  left: 0px;
  top: 56px;
  width: 400px;
  z-index: 3;
  border-top-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.x-navigation li > .panel.xn-drop-left {
  left: auto;
  right: 0px;
}
.x-navigation li > .panel .panel-heading {
  padding: 5px 10px;
}
.x-navigation li > .panel .panel-heading .panel-title {
  font-size: 14px;
}
.x-navigation li > .panel .panel-footer {
  line-height: 30px;
  padding: 3px 10px;
}
.x-navigation li.active > .panel {
  display: block;
}
.x-navigation li > .panel:after {
  top: -11px;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #E5E5E5;
  border-width: 5px;
  margin-left: -5px;
}
.x-navigation li > .panel.xn-drop-left:after {
  right: 20px;
  left: auto;
}
.x-navigation li > .panel.dragged:after {
  display: none;
}
.x-navigation li > .panel.panel-primary:after {
  border-bottom-color: #33414e;
}
.x-navigation li > .panel.panel-info:after {
  border-bottom-color: #1caf9a;
}
.x-navigation li > .panel.panel-warning:after {
  border-bottom-color: #1caf9a;
}
.x-navigation li > .panel.panel-danger:after {
  border-bottom-color: #E04B4A;
}
.x-navigation li > .panel.panel-success:after {
  border-bottom-color: #95b75d;
}
.resizable-helper {
  border: 1px dashed #33414e;
}
.xn-panel-dragging .panel-heading:hover {
  cursor: move;
}
.ui-resizable-s {
  width: 98%;
}
.ui-resizable-e {
  height: 98%;
}


.padding-0 .list-group .list-group-item {
  border-width: 1px 0px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.padding-0 .list-group .list-group-item:first-child {
  border-top: 0px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background: #33414e;
  border-color: #33414e;
}
.list-group-item {
  border-color: #E5E5E5;
}

//#ffd79a - on hover
//#ffebcd - neperskaityta
//#F9F9F9 - perskaityta

a.list-group-item:hover,
a.list-group-item:focus {
  background: #ffd79a;
}

a.list-group-item {
  background: #F9F9F9;
}

a.list-group-item.not-read-notification:hover,
a.list-group-item.not-read-notification:focus {
  background: #ffd79a;
}

a.list-group-item.not-read-notification {
  background: #ffebcd;
}

/* LIST GROUP CONTACTS */
.list-group-contacts .list-group-item {
  padding: 10px;
}
.list-group-contacts .list-group-item img {
  border: 2px solid #F5F5F5;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  width: 40px;
  margin-right: 10px;
}
.list-group-contacts .list-group-item .contacts-title {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
.list-group-contacts .list-group-item p {
  margin-bottom: 0px;
  line-height: 20px;
}
.list-group-contacts .list-group-item.active {
  background: #F5F5F5;
  border-color: #E5E5E5;
  color: #656d78;
}

/* LIST GROUP CONTACTS */
.list-group-contacts .list-group-item {
  padding: 10px;
}
.list-group-contacts .list-group-item img {
  border: 2px solid #F5F5F5;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  width: 40px;
  margin-right: 10px;
}
.list-group-contacts .list-group-item .contacts-title {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
.list-group-contacts .list-group-item p {
  margin-bottom: 0px;
  line-height: 20px;
}
.list-group-contacts .list-group-item.active {
  background: #F5F5F5;
  border-color: #E5E5E5;
  color: #656d78;
}
.list-group-controls {
  position: absolute;
  right: 10px;
  top: 15px;
}
.list-group-status {
  float: left;
  margin-right: 10px;
  height: 40px;
  width: 10px;
  position: relative;
}
.list-group-status:after {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 10px;
  height: 10px;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  content: " ";
}
.list-group-status.status-online:after {
  background: #95b75d;
}
.list-group-status.status-away:after {
  background: #1caf9a;
}
.list-group-status.status-offline:after {
  background: #CCC;
}
/* END LIST GROUP CONTACTS */

.panel .panel-body.scroll {
  padding-right: 0px;
}

.panel-fullscreen-wrap .panel .panel-body {
  overflow-y: scroll;
}