<div class="container">
    <h2 style="text-align: center">Forecasts</h2>

    <div layout="row" class="asd">
        <sm-range-picker-input
                fname="chartRange"
                label="Select data range"
                value="date"
                form="empForm"
                flex="90"
                is-required="{{true}}"
                format="YYYY-MM-DD"
                week-start-day="Monday">
        </sm-range-picker-input>
        <span flex></span>
        <md-button ng-click="getForecasts()" class="md-raised md-primary">Get</md-button>
    </div>

    <md-content ng-repeat="forecast in forecasts" class="md-padding" layout-xs="column" layout="row">
        <md-card style="width: 100%">
            <md-card-header>
                <md-card-avatar>
                    <!--<md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>-->
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{ forecast.forecast_date }}</span>
                    <span class="md-subhead"> {{ forecast.station.name }}</span>
                </md-card-header-text>
            </md-card-header>
            <!--if by phenomena-->
            <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Daily forecast</span>
                    <span class="md-subhead">Sunny</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <b> Temperature - </b> {{ forecast.temperature }} &#8451; <br>
                <b> Wind Speed - </b> {{ forecast.wind_speed }} m/s <br>
                <b> Wind Direction - </b> {{ forecast.wind_direction }} <br>
                <b> Pressure - </b> {{ forecast.pressure }} mmHg; <br>
            </md-card-content>

            <md-card-actions layout="row" layout-align="start center">
                <md-button ng-click="stationWeathers(forecast.station_id)" class="md-warn">Weathers</md-button>
                <md-button ng-click="stationChart(forecast.station_id)" class="md-primary">Chart</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>