<div class="container">
    <h2 style="text-align: center">Forecast</h2>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <md-card style="width: 100%">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">2016-12-02</span>
                    <span class="md-subhead">Rugių Laukas</span>
                </md-card-header-text>
            </md-card-header>
            <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Today forecast</span>
                    <span class="md-subhead">Sunny</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <b>Temperature - </b> -2 &#8451; <br>
                <b>Rain - </b> 0 mm <br>
                <b>Wind - </b> 3m/s <br>
                <b>Wind direction - </b> N/W <br>
                <b>Pressure - </b> 758 mm Hg; <br>
                <b>Humidity - </b> 52%; <br>
                <b>Soil temperature - </b> 2 &#8451; <br>
                <b>Soil humidity - </b> 43% <br>

            </md-card-content>

            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-warn">Weathers</md-button>
                <md-button class="md-primary">Chart</md-button>
            </md-card-actions>

        </md-card>
    </md-content>

    <md-content class="md-padding" layout-xs="column" layout="row">
        <md-card style="width: 100%">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">2016-12-03</span>
                    <span class="md-subhead">Rugių Laukas</span>
                </md-card-header-text>
            </md-card-header>
            <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Tomorrow forecast</span>
                    <span class="md-subhead">Cloudy</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <b>Temperature - </b> -1 &#8451; <br>
                <b>Rain - </b> 1 mm <br>
                <b>Wind - </b> 5m/s <br>
                <b>Wind direction - </b> S/W <br>
                <b>Pressure - </b> 600 mm Hg; <br>
                <b>Humidity - </b> 64%; <br>
                <b>Soil temperature - </b> 2 &#8451; <br>
                <b>Soil humidity - </b> 45% <br>

            </md-card-content>

            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-warn">Weathers</md-button>
                <md-button class="md-primary">Chart</md-button>
            </md-card-actions>

        </md-card>
    </md-content>
</div>