<div class="container">
    <md-content layout-padding>
        <h2 class="md-toolbar-tools center"><span>Create Station</span></h2>
        <div>
            <form name="stationForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Station Name</label>
                        <input ng-model="station.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Station Update Time</label>
                        <input numeric ng-model="station.update_time">
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Location</label>
                    <input ng-model="station.location">
                </md-input-container>

                <md-button class="md-raised md-primary" ng-click="createStation.create()">Save</md-button>
            </form>
        </div>
    </md-content>
</div>