<div class="container">
    <md-content layout-padding>
        <div layout="row">
            <h2 class="md-toolbar-tools center"><span>Update Station</span></h2>
            <span flex></span>
            <md-button>
                <md-icon ng-click="editStation.settings()" class="md-warn md-hue-5" style="color:#A00">settings</md-icon>
            </md-button>
        </div>

        <div>
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Station Name</label>
                        <input ng-model="station.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Station Update Time</label>
                        <input numeric ng-model="station.update_time">
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Location</label>
                    <input ng-model="station.location">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>APP KEY</label>
                    <input ng-model="station.app_key" disabled>
                </md-input-container>

                <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{editStation.googleMapsUrl}}">
                    <ng-map center="54.8985049, 23.9578067" zoom="11" on-click="editStation.changeMapMarker()">
                        <marker position="{{[station.lat, station.lng]}}"></marker>
                    </ng-map>
                </div>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-primary" ng-click="editStation.update()">Update</md-button>
                </div>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-warn" ng-click="editStation.delete(station.id)">Delete</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>
