<div class="container">
    <md-content layout-padding>
        <h2 class="md-toolbar-tools center"><span>Update Station</span></h2>
        <div>
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Station Name</label>
                        <input ng-model="station.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Station Update Time</label>
                        <input numeric ng-model="station.update_time">
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Location</label>
                    <input ng-model="station.location">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>APP KEY</label>
                    <input ng-model="station.app_key">
                </md-input-container>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-primary" ng-click="editStation.update()">Update</md-button>
                </div>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-warn" ng-click="editStation.delete(station.id)">Delete</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>
