<md-content>
    <div class="container">
        <h3>Stations</h3>

        <md-fab-speed-dial md-open="true" class="md-fab-bottom-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn md-fab-bottom-right" ng-click="userStations.create()">
                    <md-icon class="material-icons">create</md-icon>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Update time</th>
                    <th>Created at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, station) in userStations.stations">
                    <th scope="row">{{index + 1}}</th>
                    <td><a ui-sref="editStation({ id: station.id })">{{ station.name }}</a></td>
                    <td>{{ station.location}}</td>
                    <td>{{ station.update_time}}</td>
                    <td>{{ station.created_at}}</td>
                    <td><a ui-sref="stationWeathers({ id: station.id })">Weathers</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>