<md-content laout="column" flex>
    <md-card>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Requests</span>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="refreshList()">
                    <md-icon>refresh</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column numeric><span>#</span></th>
                    <th md-column md-order-by="ip"><span>Ip</span></th>
                    <th md-column md-order-by="uri"><span>Uri</span></th>
                    <th md-column md-order-by="created_at" md-desc><span>Create Time</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="request" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="(index, request) in requests | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{index + 1}}</td>
                    <td md-cell>{{request.ip}}</td>
                    <td md-cell>{{request.uri}}</td>
                    <td md-cell>{{request.created_at}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{requests.length}}" md-page-select="true" md-boundary-links="true" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>
</md-content>