<div class="container">
    <md-content layout-padding>
        <h2 class="md-toolbar-tools center"><span>User Details</span></h2>
        <div>
            <form name="userForm">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input type="text" ng-model="user.name">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" ng-model="user.email">
                </md-input-container>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-primary" ng-click="userDetails.update()">Update</md-button>
                </div>
            </form>
        </div>
    </md-content>

    <md-content layout-padding>
        <h2 class="md-toolbar-tools center"><span>Change Password</span></h2>
        <div>
            <form name="userPasswordForm">
                <md-input-container class="md-block">
                    <label>Current Password</label>
                    <input type="password" ng-model="password.current_password">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>New Password</label>
                    <input type="password" ng-model="password.new_password">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>New Password Confirmation</label>
                    <input type="password" ng-model="password.new_password_confirmation">
                </md-input-container>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-warn" ng-click="userDetails.changePassword()">Change</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>
