<div class="container">
    <md-content layout-padding>
        <h2 class="md-toolbar-tools center"><span>Create Disease Model</span></h2>
        <div>
            <form name="stationForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Disease Model Name</label>
                        <input ng-model="model.name">
                        <div class="text-danger" ng-repeat="name_error in modelError.name" > {{ name_error }}</div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <input ng-model="model.description">
                        <div class="text-danger" ng-repeat="description_error in modelError.description" > {{ description_error }}</div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Solution</label>
                        <input ng-model="model.solution">
                        <div class="text-danger" ng-repeat="solution_error in modelError.solution" > {{ solution_error }}</div>
                    </md-input-container>
                </div>

                <div ng-if="model.id">
                    <div layout="row" layout-align="center center" style="padding-top:20px;">
                        <md-button style="width: 100%" class="md-raised md-primary" ng-click="add()">Add New Condition</md-button>
                    </div>

                    <div ng-repeat="(index, condition) in conditions" ng-include="getView()">
                    </div>
                </div>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-primary" ng-if="!model.id" ng-click="create()">Save</md-button>
                </div>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-primary" ng-if="model.id" ng-click="update()">Update</md-button>
                </div>

            </form>
        </div>
    </md-content>
</div>
