<div class="container">

    <md-content layout-padding>
        <div>
            <h2 class="md-toolbar-tools center" style="width: 50%;"><span>Update Disease Model</span></h2>

        </div>
        <div>
            <form name="stationForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Disease Model Name</label>
                        <input ng-model="model.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <input ng-model="model.description">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Solution</label>
                        <input ng-model="model.solution">
                    </md-input-container>
                </div>

                <div ng-if="model.id">
                    <div layout="row" layout-align="center center" style="padding-top:20px;">
                        <md-button style="width: 100%" class="md-raised md-primary" ng-click="add()">Add New Condition</md-button>
                    </div>

                    <div ng-repeat="condition in model.conditions" ng-include="getView()">
                    </div>
                </div>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button style="width: 100%" class="md-raised md-primary" ng-if="model.id" ng-click="update()">Update</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>
