<md-dialog flex="66" aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Set Follow Stations</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <svg aria-label="Close dialog" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="station in stations">
                    <md-icon>view_headline</md-icon>
                    <p>{{ station.name }}</p>
                    <md-switch class="md-secondary" ng-model="station.follow" ng-true-value="1" ng-false-value="0" ng-change="changeStatus(station.id)"></md-switch>
                </md-list-item>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()">
                Exit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>