<md-content layout-padding>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div layout="row" id="chartDateRange">
                <sm-range-picker-input
                        fname="chartRange"
                        label="Select data range"
                        value="date"
                        form="empForm"
                        flex="100"
                        is-required="{{true}}"
                        format="YYYY-MM-DD"
                        week-start-day="Monday">
                </sm-range-picker-input>
            </div>
            <md-button ng-click="drawChart()" class="md-raised" aria-label="Go Back">
                Draw Chart
            </md-button>
            <!--<h2>-->
                <!--<span>Chart</span>-->
            <!--</h2>-->
            <span flex></span>
            <!--<md-button class="md-fab md-mini" aria-label="Favorite">-->
                <!--<md-icon class="material-icons">favorite</md-icon>-->
            <!--</md-button>-->
        </div>
    </md-toolbar>
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
</md-content>



